@charset "utf-8";

:root {
  --main-font : "pretendard", sans-serif;
  --sub-font : "Playfair Display", serif;
  --point-font1 : "Orelo SemiWide ExtraBold";
  --point-font2 : "Orelo SemiWide Bold";
  --point-font3 : "Orelo SemiWide Medium";
}

body { overflow-x: hidden; line-height: 1.5; font-size: 1.5rem; font-family: var(--main-font); color: #000;}
.inner { max-width: 1640px ; margin: 0 auto; padding: 0 20px;}

/* header */
#header { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; padding-top: 44px;}
#header .inner { max-width: 84.010416vw; display: flex; justify-content: space-between; align-items: center;}
#header h1 { z-index: 5;}
#header .gnb {  display: flex; gap: 30px; align-items: center;}
#header .gnb li { z-index: 99; }
#header .gnb li a {  font-size: 2rem; font-family: var(--sub-font); color: #fff; line-height: 1.2;}

@media ( max-width : 1300px) {
  #header { padding-top: 35px; }
}

@media ( max-width : 1100px) {
  #header { padding-top: 20px; }
  #header h1 img { width: 220px;}
}

@media ( max-width : 1000px) {
  #header { padding-top: 15px; }
  #header h1 img { width: 210px;}
}

@media ( max-width : 900px) {
  #header h1 img { width: 190px;}
}

@media ( max-width : 800px) {
  #header { padding-top: 20px; }
}

@media ( max-width : 700px) {
  #header { padding-top: 15px; }
  #header h1 img { width: 180px;}
}

@media ( max-width : 600px) { 
  #header { padding-top: 5px; }
  #header .gnb { gap: 20px; padding-top: 3px; }
  #header .gnb li a {  font-size: 1.5rem; }
  #header h1 img { width: 170px;}
}

@media ( max-width : 500px) { 
  #header .gnb { gap: 10px; padding: 0; }
  #header .gnb li a {  font-size: 1.4rem; }
  #header h1 img { width: 150px; padding-bottom: 2px;}
}

@media ( max-width : 450px) { 
  #header { padding-top: 0; }
  #header .inner { padding: 0 10px;}
  #header .gnb { padding: 0; }
  #header h1 img { width: 130px; }
}

@media ( max-width : 360px) {
  #header h1 img { width: 120px;  }
  #header .gnb {  padding-bottom: 5px; }
}

/* 모바일 ham버튼 */
#header .ham { z-index: 100;  position: relative; width: 30px; height: 30px; background: transparent; font-size: 0; cursor: pointer; }
#header .ham::before { transition: all 0.5s; position: absolute; left: 0; top: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }
#header .ham::after { transition: all 0.5s; position: absolute; left: 0; bottom: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }

#header .ham.active::before { transform: translate(0,5.5px) rotate(45deg);  }
#header .ham.active::after { transform: translate(0,-5px)  rotate(-45deg); }

@media ( max-width : 600px) { 
  #header .ham { width: 25px;}
  #header .ham::before { height: 2px; top: 9px;}
  #header .ham::after { height: 2px; bottom: 9px; }
}

@media ( max-width : 450px) { 
  #header .ham { width: 25px;}
  #header .ham::before { height: 2px; top: 10px; }
  #header .ham::after { height: 2px; bottom: 10px;  }
  #header .ham.active::after {transform: translate(0,-3px)  rotate(-45deg);}
}

/* mgnb */
.mgnb_wrap {  display: none;  width: 100%; height: 110%; padding-top: 100px; position: fixed; top: 0; left: 0;  background: #000; color: #fff; }
.mgnb_wrap .mgnb_inner { max-width:  84.010416vw;  display: flex; justify-content: space-between; padding: 80px 20px 0; margin: 0 auto; }

.mgnb_wrap .mgnb > li { position: relative; width: 630px;   }
.mgnb_wrap .mgnb > li > a { display: block; padding: 10px 0; font-size: 9rem; font-weight: 500; font-family: var(--sub-font); border-bottom: 1px solid #fff; }

.mgnb_wrap .mgnb > li:nth-child(1)::before { content: "01"; position: absolute; top: 0; right: 0; font-size: 4rem; font-weight: 200;}
.mgnb_wrap .mgnb > li:nth-child(2)::before { content: "02"; position: absolute; top: 0; right: 0; font-size: 4rem; font-weight: 200;}
.mgnb_wrap .mgnb > li:nth-child(3)::before { content: "03"; position: absolute; top: 0; right: 0; font-size: 4rem; font-weight: 200;}
.mgnb_wrap .mgnb > li:nth-child(4)::before { content: "04"; position: absolute; top: 0; right: 0; font-size: 4rem; font-weight: 200;}

.mgnb_wrap .mgnb_txt { padding-top: 130px;}
.mgnb_wrap .mgnb_txt .txt_img img { display: block; width: 100%;}
.mgnb_wrap .mgnb_txt ul { padding-top: 80px;}
.mgnb_wrap .mgnb_txt ul li { font-size: 2rem; font-weight: 500; text-align: right;}
.mgnb_wrap .mgnb_txt ul li:not(:last-child) { padding-bottom: 20px;}

@media ( max-width : 1300px) { 
  .mgnb_wrap .mgnb_inner { padding: 70px 20px 0;  }
  .mgnb_wrap .mgnb > li {  width: 47vw;  }
  .mgnb_wrap .mgnb > li > a {  font-size: 8rem; }
  .mgnb_wrap .mgnb > li:nth-child(1)::before { font-size: 3.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(2)::before { font-size: 3.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(3)::before { font-size: 3.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(4)::before { font-size: 3.5rem;}
  .mgnb_wrap .mgnb_txt { padding: 130px 0 0 40px; }
}

@media ( max-width : 1200px) { 
  .mgnb_wrap .mgnb_inner { padding: 60px 20px 0;  }
  .mgnb_wrap .mgnb > li > a { font-size: 7rem; padding: 15px 0; }
  .mgnb_wrap .mgnb_txt ul { padding-top: 70px;}
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.7rem; }
  .mgnb_wrap .mgnb_txt ul li:not(:last-child) { padding-bottom: 15px;}
}

@media ( max-width : 1050px) { 
  .mgnb_wrap .mgnb_inner{ padding: 50px 20px 0;  }
  .mgnb_wrap .mgnb > li > a { font-size: 6rem; }
  .mgnb_wrap .mgnb_txt { padding: 110px 0 0 40px;}
  .mgnb_wrap .mgnb_txt ul li:not(:last-child) { padding-bottom: 10px;}
  .mgnb_wrap .mgnb_txt .txt_img img { width: 280px; }
}

@media ( max-width : 900px) {
  .mgnb_wrap .mgnb > li > a { font-size: 5rem; }
  .mgnb_wrap .mgnb > li:nth-child(1)::before { font-size: 3rem;}
  .mgnb_wrap .mgnb > li:nth-child(2)::before { font-size: 3rem;}
  .mgnb_wrap .mgnb > li:nth-child(3)::before { font-size: 3rem;}
  .mgnb_wrap .mgnb > li:nth-child(4)::before { font-size: 3rem;}
  .mgnb_wrap .mgnb_txt { padding: 100px 0 0 30px;}
  .mgnb_wrap .mgnb_txt .txt_img img { width: 250px; }
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.5rem; }
  .mgnb_wrap .mgnb_txt ul li:not(:last-child) { padding-bottom: 5px;}
}

@media ( max-width : 780px) {
  .mgnb_wrap .mgnb > li {  width: 45vw;  }
  .mgnb_wrap .mgnb > li > a { font-size: 4rem; }
  .mgnb_wrap .mgnb > li:nth-child(1)::before { font-size: 2.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(2)::before { font-size: 2.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(3)::before { font-size: 2.5rem;}
  .mgnb_wrap .mgnb > li:nth-child(4)::before { font-size: 2.5rem;}
  .mgnb_wrap .mgnb_txt { padding: 90px 0 0 20px;}
  .mgnb_wrap .mgnb_txt .txt_img img { width: 230px; }
  .mgnb_wrap .mgnb_txt ul { padding-top: 50px;}
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.4rem; }
}

@media ( max-width : 680px) {
  .mgnb_wrap .mgnb > li {  width: 40vw;  }
  .mgnb_wrap .mgnb > li > a { font-size:3.5rem; }
  .mgnb_wrap .mgnb > li:nth-child(1)::before { font-size: 2rem; top: 5px;}
  .mgnb_wrap .mgnb > li:nth-child(2)::before { font-size: 2rem;top: 5px;}
  .mgnb_wrap .mgnb > li:nth-child(3)::before { font-size: 2rem;top: 5px;}
  .mgnb_wrap .mgnb > li:nth-child(4)::before { font-size: 2rem;top: 5px;}
  .mgnb_wrap .mgnb_txt { padding: 90px 0 0 20px;}
  .mgnb_wrap .mgnb_txt .txt_img img { width: 200px; }
  .mgnb_wrap .mgnb_txt ul { padding-top: 30px;}
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.4rem; }
}

@media ( max-width : 600px) {
  .mgnb_wrap .mgnb_inner { display: block; padding: 0 20px;}
  .mgnb_wrap .mgnb > li {  width: 100%;  }
  .mgnb_wrap .mgnb > li > a { font-size: 3rem; padding:20px 5px; }
  
  .mgnb_wrap .mgnb_txt { margin: 0 10px; padding: 30px 0 0; display: flex; justify-content: space-between; gap: 5px; align-items: center;}
  .mgnb_wrap .mgnb_txt ul { padding: 0;}
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.3rem; }
  .mgnb_wrap .mgnb_txt .txt_img img { width: 30vw; }
}

@media ( max-width :480px) {
  .mgnb_wrap { top: -40px;}
  .mgnb_wrap .mgnb > li > a { font-size: 2.5rem;}
  .mgnb_wrap .mgnb_txt { margin: 0 5px; padding: 20px 0 0;}
  .mgnb_wrap .mgnb_txt ul li { font-size: 1.1rem; }
}

@media ( max-width :450px) {
  .mgnb_wrap .mgnb_inner  { padding: 0 10px;}
}

@media ( max-width :361px) {
  .mgnb_wrap .mgnb_inner  { padding: 0 5px;}

  .mgnb_wrap .mgnb_txt ul li { font-size: 1rem;  }
  .mgnb_wrap .mgnb_txt { margin: 0; padding: 10px 0 0;}
  .mgnb_wrap .mgnb_txt ul li:not(:last-child) { padding-bottom: 0;}
}

/* footer */
#footer .inner { max-width: 1232px; padding: 221px 20px 81px;}
#footer .footer_top { display: flex; justify-content: space-between; gap: 170px;}
#footer .footer_top .left_txt {  text-align: right; }
#footer .footer_top .left_txt li:not(:last-child) { padding-bottom: 20px; }
#footer .footer_top .left_txt li > a { text-decoration: underline;}

#footer .footer_top .footer_img { display: flex; flex-direction: column; gap: 80px; align-items: center ; }
#footer .footer_top .footer_img .footer_logo > img {  display: block; width: 100%; }
#footer .footer_top .footer_img .sns {  display: flex; gap: 17px;}
#footer .footer_top .footer_img .sns a { transition: all 0.5s ; }
#footer .footer_top .footer_img .sns a > img { display: block; width: 100%;}
#footer .footer_top .footer_img .sns a:hover { filter: invert(75%); transform: translateY(-5px);}
#footer .footer_top .right_txt li:not(:last-child) { padding-bottom: 20px; }

#footer .footer_bottom { display: flex; justify-content: center; gap: 5px; padding-top: 65px;}
#footer .footer_bottom .service { text-decoration: underline; cursor: pointer; }

@media ( max-width : 1300px ) {
  #footer .footer_top { gap: 20px;}
}

@media ( max-width : 1000px ) {
 #footer { font-size: 1.4rem;}
 #footer .inner { padding: 170px 20px 81px;}
 #footer .footer_top .left_txt li:not(:last-child) { padding-bottom: 10px; }
 #footer .footer_top .right_txt li:not(:last-child) { padding-bottom: 10px; }
 #footer .footer_top .footer_img { gap: 40px; }
 #footer .footer_top .footer_img .footer_logo > img { width: 250px; }
}

@media ( max-width : 850px ) { 
  #footer { font-size: 1.3rem;}
  #footer .footer_top .footer_img { gap: 30px; }
  #footer .footer_top .footer_img .footer_logo > img { width: 230px; }
}

@media ( max-width : 768px ) { 
  #footer .inner { padding: 120px 20px 81px;}
  #footer .footer_top {display: block;}
  #footer .footer_top .left_txt {  display: flex; justify-content: center; gap: 20px; }
  #footer .footer_top .left_txt li > br { display: none;}
  #footer .footer_top .right_txt { text-align: center; display: flex; flex-wrap: wrap;  justify-content: center; gap: 20px; }
  
  #footer .footer_top .footer_img { padding: 50px 0;}
  #footer .footer_top .footer_img .sns a > img { width: 40px; }
  #footer .footer_top .left_txt li:not(:last-child) { padding-bottom: 0; }
  #footer .footer_top .right_txt li:not(:last-child) { padding-bottom: 0; }
  #footer .footer_bottom { flex-direction: column; align-items: center; font-size: 1.2rem; padding-top: 20px; text-align: center;  }
}

@media ( max-width : 610px ) { 
  #footer .footer_top .left_txt { flex-wrap: wrap; }
}

@media ( max-width : 500px ) {
  #footer .footer_top .left_txt { gap: 0; text-align: center; } 
  #footer .footer_top .left_txt > li { padding: 0 15px 10px 0;}
  #footer .footer_top .right_txt { gap: 0; }
  #footer .footer_top .right_txt> li { padding: 0 15px 10px 0;}
  #footer .footer_top .footer_img { gap: 20px; padding: 30px 0; }
}
 
@media ( max-width : 380px ) {
  #footer { font-size: 1.1rem;}
  #footer .inner { padding: 100px 15px 81px;}
  #footer .footer_bottom { font-size: 1.1rem; }
  #footer .footer_top .footer_img .footer_logo > img { width: 200px; }
  #footer .footer_top .footer_img .sns a > img { width: 35px; }
}

/* popup */
.popup { display: none;  position: fixed; left: 0 ; top: 0; background: rgba(0, 0, 0, 0.6); width: 100%; height: 100%; }
.popup .inner { position: absolute; left: 50% ; top: 50%; transform: translate(-50%, -50%);  padding: 25px; background: #fff; gap: 20px;  }
.popup .popup_tit { display: flex; justify-content: space-between;}
.popup .service_img { display: flex; justify-content: center; }
.popup h4 { padding: 0 0 10px 5px;  }

.popup .popup_close { position: relative; z-index: 100; background: transparent; width: 20px; height: 20px;  font-size: 0; cursor: pointer; }
.popup .popup_close::before { transition: all 0.5s; position: absolute; left: 0; top: 8px; content: ""; display: block; width: 100%; height: 2px; background: #000; transform:  rotate(45deg);  }
.popup .popup_close::after { transition: all 0.5s; position: absolute; left: 0; bottom: 8px; content: ""; display: block; width: 100%; height: 2px; background: #000; transform: translate(0,-1.5px)  rotate(-45deg);  }

@media ( max-width : 1024px) {
  .popup .inner { padding: 25px 50px; }
  .popup .service_img { display: block; padding: 0 5px;}
  .popup .service_img > img { display: block; width: 100%; }
}

@media ( max-width :768px) { 
  .popup .inner { padding: 25px 40px ; width: 60%; }
  .popup .service_img { width: 100%; padding: 0; }
}

@media ( max-width :600px) { 
  .popup .inner { padding: 25px 30px ; width: 70%; }
}

@media ( max-width : 500px) {
  .popup .inner {  padding: 25px 20px ;}
}