@charset "utf-8";

/* main */
.main_txt {  transition: all 0.2s ease-in; font-size: 5rem; font-family: var(--sub-font);}
.sub_txt {  transition: all 0.2s ease-in; font-size: 3rem; }

@media ( max-width : 1024px ) {
  .main_txt { font-size: 4.5rem; }
  .sub_txt { font-size: 2.5rem; }
}

@media ( max-width : 768px ) {
  .main_txt { font-size: 4rem; }
  .sub_txt { font-size: 2rem; }
}

@media ( max-width : 600px ) {
  .main_txt { font-size: 3.5rem; }
  .sub_txt { font-size: 1.8rem; }
}

@media ( max-width : 500px ) {
  .main_txt { font-size: 3rem; }
  .sub_txt { font-size: 1.6rem; }
}

/* banner */
.banner .banner_list { position: relative; }
.banner .banner_list > ul > li > img { display: block ; width: 100% ; }
.banner .banner_list > ul > li > img:nth-child(2) { display: none;}
.banner .banner_txt {  color: #fff; position: absolute; left: 15.10416vw; top: 11.4583vw;}
.banner .banner_txt h2 {  transition: all 0.2s ease-in; font-size: 5.5rem; font-family: var(--point-font1); line-height: 1; }
.banner .banner_txt dt {  transition: all 0.2s ease-in; font-size: 7rem; font-family: var(--point-font2); line-height: 1.2; }
.banner .banner_txt .name {  transition: all 0.2s ease-in;  font-size: 3rem; padding: 75px 0 15px;}
.banner .banner_txt .scent {  transition: all 0.2s ease-in; font-size: 2rem; padding-bottom: 130px; }
.banner .banner_txt .number { display: block; font-size: 4rem; padding-top: 90px; }

.banner .swiper-button-prev {  background: url(../images/main/icon_prev.png) no-repeat center center; width: 120px; height: 100px; padding-left: 20px;}
.banner .swiper-button-next { background: url(../images/main/icon_next.png) no-repeat center center; width: 120px; height: 100px; padding-left: 20px;}
.swiper-button-next:after, .swiper-button-prev:after { font-family: inherit; font-size: 0; }

@media ( max-width: 1700px) {
  .banner .banner_txt { left: 14vw;  }
  .banner .banner_txt h2 { font-size: 5rem; }
  .banner .banner_txt dt { font-size: 6.5rem; }
  .banner .banner_txt .name {  font-size: 2.7rem; padding: 45px 0 15px;}
  .banner .banner_txt .scent { font-size: 1.7rem; padding-bottom: 80px; }
  .banner .banner_txt .number { font-size: 3.5rem; padding-top: 70px; }
}

@media ( max-width: 1400px) {
  .banner .banner_txt { left: 13vw; top: 11vw; }
  .banner .banner_txt h2 { font-size: 4.5rem; }
  .banner .banner_txt dt { font-size: 6rem; }
  .banner .banner_txt .name {  font-size: 2.5rem; padding: 45px 0 10px;}
  .banner .banner_txt .scent { font-size: 1.5rem; padding-bottom: 60px; }
  .banner .banner_txt .number { font-size: 3rem; padding-top: 70px; }
  .banner .swiper-button-prev { background-size: 70px; width: 90px; }
  .banner .swiper-button-next { background-size: 70px; width: 90px; }
}

@media ( max-width: 1250px) {
  .banner .banner_txt { left: 12vw; top: 10vw; }
  .banner .banner_txt h2 { font-size: 4rem; }
  .banner .banner_txt dt { font-size: 5.5rem; }
  .banner .banner_txt .name {  font-size: 2.3rem; padding: 20px 0 10px;}
  .banner .banner_txt .scent { font-size: 1.3rem; padding-bottom: 40px; }
  .banner .banner_txt .number { font-size: 2.5rem; padding-top: 60px; }
  .banner .swiper-button-prev { background-size: 60px; width: 80px; }
  .banner .swiper-button-next { background-size: 60px; width: 80px; }
}

@media ( max-width: 1024px) {
  .banner .banner_txt { left: 13vw; }
  .banner .banner_txt h2 { font-size: 3.5rem; }
  .banner .banner_txt dt { font-size: 5rem; }
  .banner .banner_txt .name {  font-size: 2rem; }
  .banner .banner_txt .scent { font-size: 1.3rem; padding-bottom: 30px; }
  .banner .banner_txt .number { font-size: 2rem; padding-top: 40px; }
  .banner .swiper-button-prev { background-size: 50px; width: 70px; }
  .banner .swiper-button-next { background-size: 50px; width: 70px; }
}

@media ( max-width: 900px) { 
  .banner .banner_txt { left: 13vw; }
  .banner .banner_txt h2 { font-size: 3rem; }
  .banner .banner_txt dt { font-size: 4.5rem; }
  .banner .banner_txt .name {  font-size: 1.7rem; }
  .banner .banner_txt .scent { font-size: 1.1rem;  }
  .banner .banner_txt .number { font-size: 1.5rem; padding-top: 40px; }
  .banner .swiper-button-prev { background-size: 45px; width: 50px; }
  .banner .swiper-button-next { background-size: 45px; width: 50px; }
}

/* 배너화면 바뀜 */
@media ( max-width: 800px) { 
  .banner .banner_txt { left: 11vw; top: 23vw;}
  .banner .banner_txt h2 { font-size: 4rem; }
  .banner .banner_txt dt { font-size: 5.5rem; }
  .banner .banner_txt .name {  font-size: 2.5rem; padding: 50px 0 10px; }
  .banner .banner_txt .scent { font-size: 1.8rem;  }
  .banner .banner_txt .number { display: none; }

  .banner .banner_list > ul > li > img:nth-child(1) { display: none;}
  .banner .banner_list > ul > li > img:nth-child(2) { display: block;}

  .banner .swiper-button-prev { background-size: auto; width: 120px; }
  .banner .swiper-button-next { background-size: auto; width: 120px; }
}

@media ( max-width: 700px) { 
  .banner .banner_txt h2 { font-size: 3.5rem; }
  .banner .banner_txt dt { font-size: 5rem; }
  .banner .banner_txt .name {  font-size: 2rem; padding: 40px 0 10px;}
  .banner .banner_txt .scent { font-size: 1.5rem;  }
  .banner .swiper-button-prev { background-size: auto; width: 110px; }
  .banner .swiper-button-next { background-size: auto; width: 110px; }
}

@media ( max-width: 600px) { 
  .banner .banner_txt { top: 20vw;}
  .banner .banner_txt h2 { font-size: 3rem; }
  .banner .banner_txt dt { font-size: 4.5rem; }
  .banner .banner_txt .name {  font-size: 1.7rem; }
  .banner .banner_txt .scent { font-size: 1.4rem;  }

  .banner .swiper-button-prev { background-size: 70px; width: 70px; }
  .banner .swiper-button-next { background-size: 70px; width: 70px; }
}

@media ( max-width: 500px) { 
  .banner .banner_txt h2 { font-size: 2.5rem; }
  .banner .banner_txt dt { font-size: 4rem; }
  .banner .banner_txt .name {  font-size: 1.6rem;}
}

@media ( max-width: 400px) { 
  .banner .banner_txt h2 { font-size: 2rem; }
  .banner .banner_txt dt { font-size: 3.5rem; }
  .banner .banner_txt .name {  font-size: 1.5rem; padding: 30px 0 10px;}
  .banner .banner_txt .scent { font-size: 1.2rem;  }
  .banner .swiper-button-prev { background-size: 60px; width: 60px; }
  .banner .swiper-button-next { background-size: 60px; width: 60px; }
}

@media ( max-width: 350px) {
  .banner .banner_txt h2 { font-size: 1.6rem; }
  .banner .banner_txt dt { font-size: 3rem; }
  .banner .banner_txt .scent { font-size: 1.1rem; }
  .banner .swiper-button-prev { background-size: 50px; width: 50px; }
  .banner .swiper-button-next { background-size: 50px; width: 50px; }
}

/* svg-wrapper */
.svg-wrapper { transition: all 1s; position: relative; width: 150px; height: 50px; text-align: center; cursor: pointer; transform:translate(-25px,0); }
.shape { transition: all 1s; stroke-dasharray: 100 300; stroke-dashoffset: -226; fill: transparent; stroke: rgb(255, 255, 255); stroke-width: 5px;  }
.text { font-size: 1.7rem; top: -43px; position: relative; font-weight: 500; color: white; }
.svg-wrapper:hover .shape { stroke-width: 2px; stroke-dashoffset: 0; stroke-dasharray: 760;}
.svg-wrapper:hover { transform:translate(0);}

@media ( max-width: 1400px) {
  .shape { stroke-width: 3px; }
  .text { font-size: 1.5rem; }
}

@media ( max-width: 900px) { 
  .svg-wrapper { width: 110px; height: 35px; transform:translate(-15px,0);}
  .shape { width: 110px; stroke-dashoffset: -155; height: 35px;  stroke-dasharray: 90 300; stroke-width: 2px; }
  .text  { font-size: 1.2rem; top: -50px;}
}

@media ( max-width: 800px) { 
  .svg-wrapper  { position: absolute; top: 22vw; left: 58vw; width: 150px; height: 50px; transform:translate(-15px,0);  }
  .shape { width: 150px; height: 50px; stroke-dasharray: 100 300; stroke-dashoffset: -226; stroke-width: 3px; }
  .text  { font-size: 1.5rem; top: -43px;}
}

@media ( max-width: 700px) { 
  .svg-wrapper  { top: 21vw; left: 55vw; }
  /* .svg-wrapper { top: 22vw; left: 59vw; width: 110px; height: 35px; transform:translate(-15px,0);}
  .shape { width: 110px; stroke-dashoffset: -155; height: 35px;  stroke-dasharray: 90 300; stroke-width: 2px; }
  .text  { font-size: 1.2rem; top: -50px;} */
}

@media ( max-width: 600px) { 
  .svg-wrapper { top: 21vw; left: 51vw; }
}

@media ( max-width: 500px) { 
  .svg-wrapper { top: 25vw; left: 52vw; width: 110px; height: 35px; transform:translate(-15px,0); }
  .shape { width: 110px; stroke-dashoffset: -155; height: 35px;  stroke-dasharray: 90 300; stroke-width: 2px; }
  .text  { font-size: 1.2rem; top: -50px;}
}

@media ( max-width: 400px) { 
  .svg-wrapper { top: 28vw; left: 52vw; transform: scale(0.9) translate(-17px,0); }
  .svg-wrapper:hover { transform:scale(0.9) translate(0);}
}

@media ( max-width: 350px) { 
  .svg-wrapper { left: 52vw; transform: scale(0.7) translate(-13px,0); }
  .svg-wrapper:hover { transform:scale(0.7) translate(0);}
}

/* visual */
.visual { background: #000; color: #fff; text-align: center;}
.visual .inner { max-width: 1750px; padding: 200px 0;}
.visual h3 { transition: all 0.2s ease-in; font-size: 8rem; font-family: var(--point-font2); padding-bottom: 150px;}
.visual .bg_txt { transition: all 0.2s ease-in; font-size: 23rem; font-weight: 500; line-height: 1.2; }

.visual .visual_box { position: relative;}
.visual .visual_img { transition: all 0.2s ease-in; padding: 0 20px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; gap: 167px; align-items: center; width: 100%; justify-content: center; }
.visual .visual_img li img { transition: all 0.3s; display: block; width: 100%; }
.visual .visual_img li:hover img { transform: scale(1.1);} 

@media ( max-width : 1800px ) {
  .visual .bg_txt { font-size: 21rem;}
}

@media ( max-width : 1600px ) {
  .visual .bg_txt { font-size: 19rem;}
  .visual .visual_img { gap: 130px; }
}

@media ( max-width : 1450px ) {
  .visual .bg_txt { font-size: 17rem;}
  .visual .visual_img { gap: 100px; }
}

@media ( max-width : 1300px ) {
  .visual .inner { padding: 170px 0;}
  .visual h3 { font-size: 7rem;}
  .visual .bg_txt { font-size: 15rem;}
  .visual .visual_img { gap: 90px; }
}

@media ( max-width : 1150px ) {
  .visual .bg_txt { font-size: 13rem;}
  .visual .visual_img { gap: 80px; }
}

@media ( max-width : 1024px ) {
  .visual .inner { padding: 150px 0;}
  .visual h3 { font-size: 6.5rem; padding-bottom: 100px; }
  .visual .bg_txt { font-size: 11rem;}
  .visual .visual_img { gap: 70px; }
}

@media ( max-width : 850px ) {
  .visual .inner { padding: 120px 0 150px;}
  .visual h3 {padding-bottom: 70px; }
  .visual .bg_txt { font-size: 9rem;}
  .visual .visual_img { gap: 60px; }
}

@media ( max-width : 700px ) {
  .visual h3 { font-size: 6rem; padding-bottom: 60px;   }
  .visual .bg_txt { font-size: 7rem;}
  .visual .visual_img { gap: 50px; }
}

@media ( max-width : 550px ) {
  .visual h3 { font-size: 5.5rem; padding-bottom: 50px;  }
  .visual .bg_txt { font-size: 6rem;}
  .visual .visual_img { gap: 40px; }
}

@media ( max-width : 450px ) {
  .visual h3 { font-size: 5rem;   }
  .visual .bg_txt { font-size: 5rem;}
}

@media ( max-width : 370px ) {
  .visual h3 { font-size: 4rem;   }
  .visual .bg_txt { font-size: 4rem;}
}

/* jenny */
.jenny { background: url("../images/main/jenny_bg.png") no-repeat center center; }
.jenny img { display: block; width: 100%;}
.jenny .inner { padding: 317px 20px 349px; max-width: 1397px; }
.jenny .jenny_box { position: relative; }
.jenny .jn_img { width: 736px; position: relative; display: inline-block; }
.jenny .jn_img > li > img { display: block;}
.jenny .jn_img > li .jn_img_hover { position: absolute; left: 0; top: 0; opacity: 0; transition: all 0.5s;}
.jenny .jn_img:hover .jn_img_hover{ opacity: 1;}
.jenny .jenny_box h4 { transition: all 0.2s ease-in; width: 49.1vw; position: absolute; left: 21.35vw; top: -6.1vw;}

.jenny .jn_txt { display: flex; align-items: center; position: absolute;  left: 25.73vw; bottom: -7.77vw; width: 100%; ;}
.jenny .jn_txt .txt { text-align: right;}
.jenny .jn_txt .txt .sub_txt { transition: all 0.2s ease-in; font-size: 3rem; padding-bottom: 27px;}
.jenny .jn_txt .txt .main_txt1 { transition: all 0.2s ease-in; font-family: var(--point-font3); font-size: 7rem; line-height: 1;}
.jenny .jn_txt .txt .main_txt2 { transition: all 0.2s ease-in; font-family: var(--sub-font); font-size: 5rem; font-style: italic;}

@media ( max-width : 1700px ) {
  .jenny .jn_img { width: 700px; }
  .jenny .jenny_box h4 { left: 22vw; }
  .jenny .jn_txt { left: 26vw; bottom: -8.8vw;  }

}

@media ( max-width : 1600px ) {
  .jenny .jn_img { width: 650px; }
  .jenny .inner { padding: 317px 100px 349px;}
  .jenny .jenny_box h4 { left: 23vw; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 6.5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 4.5rem; }
}

@media ( max-width : 1500px ) {
  .jenny .jn_img { width: 600px; }
  .jenny .jenny_box h4 { left: 21vw; width: 59vw; top: -7vw; }
  .jenny .jn_txt { left: 28vw; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 6rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 4rem; }
}

@media ( max-width : 1350px ) {
  .jenny .jenny_box h4 { left: 22vw; width: 60vw; }
  .jenny .inner { padding: 217px 80px 249px; }
  .jenny .jn_img { width: 46vw; }
  .jenny .jn_txt { left: 35vw; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 5.5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 3.5rem; }
}

@media ( max-width : 1200px ) {
  .jenny .jenny_box h4 {  width: 63vw; top: -8vw; }
  .jenny .jn_txt {  bottom: -8.8vw;  }
  .jenny .jn_img { width: 47vw; }
  .jenny .jn_txt .txt .sub_txt { font-size: 2.5rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 3rem; }
}

@media ( max-width : 1024px ) {
  .jenny .inner { padding: 167px 60px 199px; }
  .jenny .jn_img { width: 48vw; }
  .jenny .jenny_box h4 { left: 23vw;  width: 60vw; top: -8vw; }

  .jenny .jn_txt { left: 32vw; bottom: -9vw;  }
  .jenny .jn_txt .txt .sub_txt { font-size: 2rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 4.5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 2.5rem; }
}

@media ( max-width : 900px ) {
  .jenny .jn_txt { left: 30vw; bottom: -10vw;  }
}

@media ( max-width : 800px ) {
  .jenny .inner { padding: 167px 50px 199px; }
  .jenny .jn_txt { left: 28vw; bottom: -11vw;  }
}

@media ( max-width : 768px ) {
  .jenny .inner { padding: 167px 40px 199px; }
  .jenny .jenny_box h4 { width: 65vw; left: 23vw; top: -8vw; }
  .jenny .jn_img { width: 50vw; }
  .jenny .jn_txt { display: block; left: 0;  bottom: -18vw;}
  .jenny .jn_txt .txt .sub_txt { font-size: 1.8rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 4rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 2rem; }
}

@media ( max-width : 675px ) {
  .jenny .jn_txt .txt .sub_txt { font-size: 1.6rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 3.5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 1.8rem; }
}

@media ( max-width : 620px ) {
  .jenny .inner { padding: 137px 30px 200px; }
  .jenny .jn_txt  { bottom: -19vw; left: -8vw; }
  .jenny .jn_txt .txt .sub_txt { font-size: 1.4rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 3rem; }
}

@media ( max-width : 560px ) {
  .jenny .inner { padding: 137px 20px 200px; }
  .jenny .jenny_box h4  { left: 27vw; top: -8.5vw;  }
  .jenny .jn_txt  { bottom: -21vw; left: 0; }
  .jenny .jn_img { width: 60vw;  }
}

@media ( max-width : 450px ) {
  .jenny .jenny_box h4  { left: 25vw; width: 66vw; }
  .jenny .jn_txt .txt .sub_txt { font-size: 1.3rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 2.5rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 1.7rem; }
}

@media ( max-width : 400px ) {
  .jenny .jn_txt .txt .main_txt1 { font-size: 2.3rem; }
}
@media ( max-width : 350px ) {
  .jenny .jn_txt .txt .sub_txt { font-size: 1.2rem; }
  .jenny .jn_txt .txt .main_txt1 { font-size: 2rem; }
  .jenny .jn_txt .txt .main_txt2 {font-size: 1.5rem; }
}

/* 버튼 */
.jenny .jn_txt .arrow { margin-left: 66px; }
.jenny .arrow p { position: relative; display: inline-block; cursor: pointer;  }
.jenny .arrow p > img { display: block; width: 100%;} 
.jenny .arrow .arrow_icon { transition: all 0.5s ease-in-out; }
.jenny .arrow .btn_more {  font-weight: 300; font-size: 2.5rem; position: absolute; left: 0; top: 10%; opacity: 0; transition: all 0.5s ease-in-out;}
.jenny .arrow p:hover .arrow_icon { opacity: 0;}
.jenny .arrow p:hover .btn_more { opacity: 1; transition: all 0.5s ease-in-out;}

@media ( max-width : 1024px ) {
  .jenny .jn_txt .arrow { margin-left: 50px; }
}

@media ( max-width : 860px ) {
  .jenny .jn_txt .arrow { margin-left: 30px;}
  .jenny .arrow p > img { width: 9vw ; }
}

@media ( max-width : 768px ) {
  .jenny .jn_txt .arrow { margin-left: 0; display: flex; justify-content: flex-end; padding-top: 10px;}
  .jenny .arrow p > img { width: 100%; }
}

@media ( max-width : 620px ) {
  .jenny .arrow p > img { width: 14vw; }
  .jenny .arrow .btn_more { font-size: 2.3rem; top: 6%; } 
}

@media ( max-width : 550px ) {
  .jenny .arrow p > img { width: 13vw;  }
  .jenny .arrow .btn_more { font-size: 2rem; top: 5%; } 

}

/* hand_lip */
.hand_lip { background: #000;}
.hand_lip img { display: block; max-width: 100%; height: auto;}
.hand_lip .inner { padding: 200px 20px; max-width: 1459px;}
.hand_lip .handlip_box { position: relative;}
.hand_lip h4 { z-index: 10;  position: absolute; left: 1.83vw; top: 2.45vw;}
.hand_lip .handlip_img { display: flex; justify-content: flex-end; align-items: center;}
.hand_lip .handlip_txt { position: absolute; right: 0; bottom: 50px; color: #fff; text-align: right;}

@media ( max-width : 1450px ) {
  .hand_lip h4 > img { width: 28vw;}
}

@media ( max-width : 1024px ) {
  .hand_lip .inner { padding: 170px 20px;}
}

@media ( max-width : 850px ) {
  .hand_lip .handlip_txt { bottom: 3vw; }
}

@media ( max-width :768px) {
  .hand_lip .inner { padding: 150px 20px;}
  .hand_lip h4 { left: 0; top: 1.5vw;}
  .hand_lip h4 > img { width: 35vw;}
}

@media ( max-width : 620px ) {
  .hand_lip .handlip_txt { bottom: 1vw; }
}

@media ( max-width : 500px ) {
  .hand_lip h4 {top: -0.5vw;}
  .hand_lip h4 > img { width: 38vw; }
}

@media ( max-width : 450px ) {
  .hand_lip .handlip_txt { bottom: 0; }
  .hand_lip .handlip_txt  .main_txt { font-size: 2.5rem; line-height: 1.2; }
  .hand_lip .handlip_txt  .sub_txt { font-size: 1.5rem; }
}

@media ( max-width : 400px ) {
  .hand_lip .handlip_txt  .main_txt { font-size: 2.3rem; }
  .hand_lip .handlip_txt  .sub_txt { font-size: 1.4rem; }
}

@media ( max-width : 360px ) {
  .hand_lip .handlip_txt { bottom: -1vw; }
  .hand_lip .handlip_txt  .main_txt { font-size: 2rem; }
  .hand_lip .handlip_txt  .sub_txt { font-size: 1.3rem; }
}

/* perfume */
.perfume { background: url("../images/main/perfume_bg.png") no-repeat center center;}

.perfume .inner { padding: 200px 20px; max-width: 1557px;}
.perfume .perfume_box { position: relative;}
.perfume h4 { z-index: 11; transition: all 0.2s ease-in; font-size: 13rem; font-family: var(--point-font3); font-weight: 400; position: absolute; top: 4.4vw; left: 0;}
.perfume .perfume_img {  display: flex; justify-content: flex-end;  }
.perfume .perfume_img > img { display: block; width: 56vw; }
.perfume .perfume_txt { position: absolute; left: 4.4vw; bottom: 2.24vw; } 

@keyframes rotate{
  0% { transform: rotate(0);}
  100%{ transform: rotate(360deg);}
}
.perfume .circle_txt { position: absolute; right: 14.5vw; top: 6.78vw; animation: rotate 30s infinite linear;}
.perfume .circle_txt > img { display: block ; width:19.5vw;}

@media (max-width : 1800px) {
  .perfume .inner { padding: 200px 60px; }
}

@media (max-width : 1700px) {
  .perfume .inner { padding: 200px 80px; }
  .perfume .perfume_txt .sub_txt { font-size: 2.5rem; }
  .perfume .perfume_txt .main_txt { font-size: 4.5rem;}
}

@media (max-width : 1500px) {
  .perfume h4 { font-size: 12rem; }
}

@media (max-width : 1400px) {
  .perfume h4 { font-size: 11rem; }
  .perfume .perfume_txt .sub_txt { font-size: 2rem; }
  .perfume .perfume_txt .main_txt { font-size: 4rem;}
}

@media (max-width : 1300px) {
  .perfume h4 { font-size: 10rem; top: 3vw; }
  .perfume .perfume_txt .sub_txt { font-size: 1.8rem; }
  .perfume .perfume_txt .main_txt { font-size: 3.5rem;}
}

@media (max-width : 1200px) {
  .perfume h4 { font-size: 9rem; top: 2vw; }
  .perfume .perfume_txt .main_txt { font-size: 3rem;}
}

@media (max-width : 1100px) {
  .perfume h4 { font-size: 8rem; top: 1vw; }
}

@media (max-width : 1024px) {
  .perfume .inner { padding: 230px 60px; }
  .perfume h4 { font-size: 7rem; top: -12vw; left: 50%; transform: translateX(-50%); }
  .perfume .perfume_img { justify-content: center;}
  .perfume .perfume_img > img {  width: 100%; }
  .perfume .perfume_txt { bottom: -5vw; left: 0;}

  .perfume .circle_txt { right: 27vw; top: 14.8vw; }
  .perfume .circle_txt > img { display: block ; width: 25vw;}
}

@media (max-width : 850px) { 
  .perfume .inner { padding: 230px 50px; }
}

@media (max-width : 768px) {
  .perfume .inner { padding: 200px 40px; }
  .perfume h4 { font-size: 6rem; top: -14vw; }
  .perfume .perfume_txt { bottom: -9vw; left: 0;}
  .perfume .perfume_txt .sub_txt { font-size: 1.6rem; }
  .perfume .perfume_txt .main_txt { font-size: 3rem;}
  .perfume .circle_txt > img { width: 27vw;}
}

@media (max-width : 600px) {
  .perfume .inner { padding: 180px 20px; }
  .perfume h4 { top: -16vw;  } 
  .perfume .perfume_txt .main_txt { font-size: 2.5rem;}
}

@media (max-width : 550px) {
  .perfume h4 { top: -18vw;  font-size: 5.5rem; }
  .perfume .perfume_txt { bottom: -14vw;  }
  .perfume .perfume_txt .main_txt { font-size: 2.3rem;}
}

@media (max-width : 450px) { 
  .perfume .inner { padding: 160px 20px; }
  .perfume h4 { top: -19vw;  font-size: 5rem; }
  .perfume .perfume_txt { bottom: -16vw;  }
  .perfume .perfume_txt .sub_txt { font-size: 1.5rem; }
  .perfume .perfume_txt .main_txt { font-size: 2rem;}
}

@media (max-width : 376px) {
  .perfume .perfume_txt .sub_txt { font-size: 1.4rem; }
  .perfume .perfume_txt .main_txt { font-size: 1.8rem;}
}

@media (max-width : 360px) { 
  .perfume h4 { top: -20vw;  font-size: 4.5rem; }
  .perfume .perfume_txt .sub_txt { font-size: 1.3rem; }
  .perfume .perfume_txt .main_txt { font-size: 1.5rem;}
}

/* flagship_store */
.flagship_store { padding-top: 75px;}
.flagship_store h4 { transition: all 0.2s ease-in;  text-align: center; font-size: 7rem; font-family: var(--sub-font); font-weight: 500; line-height: 1; }
.flagship_store p {  transition: all 0.2s ease-in; text-align: center; font-size: 5rem; font-family: var(--sub-font); font-weight: 500;  padding-bottom: 60px; }
.flagship_store .store { display: flex; width: 100%; /* position: relative; */ }
.flagship_store .store .store_img li { display: flex; }
.flagship_store .store > * { width: calc(100% / 2);}
.flagship_store .store video { display: block; width: 100%; height: 100%; object-fit: cover; }

.flagship_store .store .store_img li { display: flex; }
.flagship_store .store .store_img li img { display: block; width: 100%; }

/* .flagship_store .store .store_bg {   position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); display: flex; justify-content: center; align-items: center; }
.flagship_store .store .store_bg > a { transition: all 0.5s; display: block; padding: 10px 30px; font-size: 2rem; border-radius: 100px; background: #fff; color: #66242E;}
.flagship_store .store .store_bg > a:hover { background: #66242E; color: #fff;}
 */

@media (max-width : 1900px) {
  .flagship_store .store .store_img li img  { width: calc(100% / 2);}
}

@media (max-width : 1024px) {
  .flagship_store h4 { font-size: 6rem; }
  .flagship_store p { font-size: 4rem; padding-bottom: 50px; }
}

@media (max-width : 768px) {
  .flagship_store h4 { font-size: 5rem; }
  .flagship_store p { font-size: 3rem; padding-bottom: 40px; }
}

@media (max-width : 650px) {
  .flagship_store .store { display: block;  }
  .flagship_store .store > * { width: 100%;}
  .flagship_store .store video { height: 500px;}
}

@media (max-width : 550px) {
  .flagship_store { padding-top: 100px;}
  .flagship_store .store video { height: 400px;}
  .flagship_store h4 { font-size: 4rem; }
  .flagship_store p { font-size: 2rem; padding-bottom: 30px;}
}

@media (max-width : 450px) {
  .flagship_store .store video { height: 300px;}
  .flagship_store h4 { font-size: 3.5rem; }
  .flagship_store p { font-size: 1.8rem;  padding-bottom: 20px; }
}

/* products */
.products { background: #000; }
.products .inner { max-width: 1619px; padding: 200px 20px; color: #fff; display: flex; gap: 129px;}
.products .products_txt { margin-top: 100px;}
.products h4 {  transition: all 0.2s ease-in; font-size: 10rem; font-weight: 400; font-family: var(--point-font3); }
.products .arrow { padding-top: 30px;}
.products .products_box { display: flex; gap: 100px; overflow: visible;}

.products .products_box > div > a > dl:nth-child(1) { margin-bottom: 50px ;}
.products .products_box .products_left { margin-top: 100px;}

/* products_setting */
.products dl { transition: all 0.5s; background: #fff; color: #000; width: 450px;  border-radius: 10px; padding: 70px 0; line-height: 1.2;  }
.products dl:hover { box-shadow: inset 0 0 30px rgba(102, 36, 46, 0.5);}
.products dl .name { padding-left: 50px;}
.products dl dt {  font-size: 2.5rem; font-family: var(--sub-font); font-weight: 500;}
.products dl dd {  font-size: 2rem; padding: 10px 0;}
.products dl span { transition: all 0.5s; }
.products dl:hover span { color: #66242E; font-weight: 600;  }
.products .products_img { margin-top: 50px; text-align: center; position: relative; transition: all 0.3s ease-in-out; }
.products dl .products_img img:nth-child(2) { position: absolute; left: 50%; transform: translate(-50%); top: 0; opacity: 0; transition: all 0.3s ease-in-out; }

.products dl:hover .products_img img:nth-child(1) { opacity: 0;}
.products dl:hover .products_img img:nth-child(2) { opacity: 1;}

/* 버튼튼 */
.products .arrow p { position: relative; display: inline-block; cursor: pointer;  }
.products .arrow p > img { display: block; width: 100%;} 
.products .arrow .arrow_icon { transition: all 0.5s ease-in-out; }
.products .arrow .btn_more {  font-weight: 300; font-size: 2.5rem; position: absolute; left: 0; top: 10%; opacity: 0; transition: all 0.5s ease-in-out;}
.products .arrow p:hover .arrow_icon { opacity: 0;}
.products .arrow p:hover .btn_more { opacity: 1; transition: all 0.5s ease-in-out;}

@media (max-width: 1630px) {
  .products .inner { position: relative; gap: 0; }
  .products .products_txt { position: absolute; left: 50%; top: 0; transform: translateX(-50%); text-align: center; }
  .products .products_txt h4 { font-size: 9rem;}
  .products .products_txt .sub_txt { font-size: 2.5rem; }
  
  .products .products_box { margin: 0 auto; padding-top: 200px;}
  .products .products_box .products_left { margin-top: 0;}
  .products .products_box > div > a > dl:nth-child(1) { margin-bottom: 50px ;}
}

@media (max-width: 1100px) {
  .products .products_box { gap: 50px; }
}

@media (max-width: 1024px) {
  .products .products_txt h4 { font-size: 8rem;}
  .products .products_txt .sub_txt { font-size: 2.3rem; }
  .products dl { width: 400px; padding: 50px 0; }
  .products .products_box {  gap: 40px; }
  .products .products_box { padding-top: 180px;}
  .products .products_img { margin-top: 40px; }
  .products .products_img > img { width: 350px; }
  .products .products_img img:nth-child(2) { top: 50px; }
}

@media (max-width: 900px) {
  .products .products_txt h4 { font-size: 7rem;}
  .products .products_txt .sub_txt { font-size: 2rem; }
  .products dl { width: 350px; }
  .products .products_box {  gap: 30px; }
  .products .products_box { padding-top: 160px;}
  .products .products_img { margin: 30px 0 10px; }
  .products .products_img > img { width: 300px; }
  .products dl .name { padding-left: 40px;}
  .products dl dt {  font-size: 2.2rem; }
  .products dl dd {  font-size: 1.7rem; }
  .products dl span { font-size: 1.4rem; }
}

@media (max-width: 800px) {
  .products dl { width: 330px; padding: 40px 0; }
  .products .products_img > img { width: 270px; }
  .products dl .name { padding-left: 30px;}
  .products dl dt {  font-size: 2rem; }
  .products dl dd {  font-size: 1.5rem; padding: 5px 0;}
  .products dl span { font-size: 1.2rem; }
}

@media (max-width: 768px) {
  .products .inner { padding: 170px 0 120px; }
  .products .products_txt { margin-top: 90px; }
  .products .products_txt h4 { font-size: 6rem;}
  .products .products_txt .sub_txt { font-size: 1.8rem; }
  .products .products_txt .arrow { padding-top: 20px;}
  .products dl { width: 270px; padding: 30px 0; }
  .products dl .name { padding-left: 25px;}
  .products .products_box { padding-top: 140px;}
  .products .products_img { margin: 20px 0 10px; }
  .products .products_img > img { width: 200px; }
  .products .products_box > div > a > dl:nth-child(1) { margin-bottom: 30px ;}
}

@media (max-width: 630px) {
  .products .products_txt h4 { font-size: 6rem;}
  .products .products_txt .sub_txt { font-size: 1.8rem; }
  .products dl { width: 290px;}
  .products .products_box { display: block; }
  .products .arrow p > img { width: 60px;}
  .products .arrow .btn_more { font-size: 2.3rem;}
}

@media (max-width: 500px) {
  .products .products_txt h4 { font-size: 5rem;}
  .products .products_txt .sub_txt { font-size: 1.6rem; }
  .products .products_box { padding-top: 110px;}
  .products .inner { padding: 150px 0 100px; }
  .products .products_txt { margin-top: 70px; }
  .products .arrow p > img { width: 55px;}
}

@media (max-width: 350px) {
  .products dl { width: 280px;}
  .products .products_txt h4 { font-size: 4.5rem;}
  .products .products_txt .sub_txt { font-size: 1.4rem; }
  .products .products_box { padding-top: 90px;}
}

/* search_store */
.search_store { background: url("../images/main/search_img.png") no-repeat center center; height: 845px;}
.search_store .inner{ max-width: 1020px; padding: 200px 20px;}
.search_store h4 { text-align: center; font-size: 10rem; font-family: var(--point-font3); font-weight: 400;}

.search_store .input_box { padding-top: 50px; display: flex;}
.search_store .input_box input[type="text"] { font-size: 2rem; color: #958484; padding-left: 46px; height: 90px; background: #fff; border-radius: 50px 0 0 50px; width: 903px; } 
.search_store .input_box input[type="submit"] { background: #fff url("../images/main/search_icon.png") no-repeat center center; font-size: 0; padding: 15px 10px 0 15px; width: 77px;  cursor: pointer;  border-radius: 0 50px 50px 0; height: 90px; }

@media (max-width : 1400px) {
  .search_store h4 { font-size: 9rem;  }
}


@media (max-width : 1024px) {
  .search_store { height: 750px; }
  .search_store .inner { padding: 150px 20px; }
  .search_store h4 { font-size: 8rem;  }
  .search_store .input_box { padding-top: 40px; }
  .search_store .input_box input[type="text"] { height: 80px; } 
  .search_store .input_box input[type="submit"] { height: 80px; background-size: 50px; }
}

@media (max-width : 768px) {
  .search_store { height: 600px; }
  .search_store .inner { padding: 130px 20px; }
  .search_store h4 { font-size: 7rem;  }
  .search_store .input_box { padding-top: 30px; }
  .search_store .input_box input[type="text"] { font-size: 1.6rem; height: 70px; } 
  .search_store .input_box input[type="submit"] { height: 70px; background-size: 50px; padding: 15px 20px 0 15px; }
}

@media (max-width : 600px) {
  .search_store { height: 550px; }
  .search_store h4 { font-size: 6.5rem;  }
  .search_store .input_box { padding-top: 20px; }
  .search_store .input_box input[type="text"] { height: 60px; } 
  .search_store .input_box input[type="submit"] { height: 60px; background-size: 40px;  }
}

@media (max-width : 550px) {
  .search_store h4 { font-size: 6rem;  }
  .search_store .input_box { padding-top: 20px; }
}

@media (max-width : 500px) { 
  .search_store h4 { font-size: 5.5rem; padding-top:30px;  }
}

@media (max-width : 400px) {
  .search_store { height: 500px; }
  .search_store h4 { font-size: 4.5rem; }
  .search_store .input_box input[type="text"] { height: 50px; font-size: 1.4rem; padding-left: 30px; }
  .search_store .input_box input[type="submit"] { height: 50px; background-size: 35px; } 
}

@media (max-width : 340px) { 
  .search_store { height: 470px; }
  .search_store .inner { padding: 115px 20px; }
  .search_store h4 { font-size: 4rem; }
  .search_store .input_box { padding-top: 10px; }
  .search_store .input_box input[type="text"] { font-size: 1.4rem; padding-left: 30px; }
}